<h4>Let's update the information about your tenant named :  "<%= @tenant.name.capitalize%>"</h1>

	<br>

	<form action="/tenants/<%= @tenant.id %>" method = "post">     
	<input   type="hidden" name="_method" value="patch">  
Update the name of your tenant from <%= @tenant.name.capitalize %> to  > <input type ="text" name = "name" placeholder= "New Name" required><br>
	<br>
	Update the occupation from <%= @tenant.occupation.upcase %> to  > <input type ="text" name = "occupation" placeholder= "New Occupation" required><br>
	<br>
	<input type = "submit" value = "Update">
</form>