


<h1>Log In</h1><br>
<h3>Please Enter correct email and correct password to manage your account</h3>

<h3 style ="color: red;"> Invalid email and/or password, try again...</h3>

<form method ="post" action ="/login" >
	Email :  <input type ="text" placeholder= "123@email.com" name ="email">
	<br>
	Password :  <input type="text"  placeholder= "password" name="password" required><br>
	<br>
	<input type="submit" name="Log In">
</form>
<br><br>
<h2>Click on <a href = "/signup">Sign Up</a> to register...</h2>