

<h1>Property Management</h1><br>
<h3>Please Enter correct email and correct password to manage your account</h3>
<h3 style ="color: red;"> Invalid email and/or password, try again...</h3>

<form method ="post" action ="/login" >
	<input type ="text" placeholder= "123@email.com" name ="email">
	<br>
	<input type="password"  placeholder= "password" name="password" required><br>
	<br>
	<input class = "btn btn-primary" type="submit" name="Log In">
</form>
<br><br>
<h2>Click on <a href = "/signup">Sign Up</a> to register...</h2>