
<h1>Hello, Let's Create a username</h1>

<form method ="post" action ="/signup" >
	User Name :<input type ="text" placeholder= "username" name ="username" required>
	Email : <input type="text" placeholder= "123@email.com" name="email" required>
	Password : <input type="text"  placeholder= "password" name="password" required>
	<input type="submit" name="Sign Up">
</form>