
<h1 style = "background-color: lightblue; color:red;">Owner name and Email already exist!!!</h1>

<h2>Let's try to use unique attributes</h2>
<form method ="post" action ="/signup" >
	Owner Name :<input type ="text" placeholder= "username" name ="username" required>
	A Valid Email : <input type="text" placeholder= "123@email.com" name="email" required>
	Password : <input type="password"  placeholder= "password" name="password" required>
	<input type="submit" name="Sign Up">
</form>
<h3>Already registered? <a href = "/login">Log In</a> instead...</h3>