
<h3>Hello, Let's Create an owner</h3>
<br>
<div class ="form-list">
<form method ="post" action ="/signup" >
	<input type ="text" placeholder= "username" name ="username" required><br>
	<input type="text" placeholder= "123@email.com" name="email" required><br>
	<input type="password"  placeholder= "password" name="password" required><br>
	<input class = "btn btn-primary" type="submit" value="Sign Up" name="Sign Up">
</form>

</div>
<br>
<h3>Already registered? <a href = "/login">Log In</a> instead...</h3>