
<h1>Hello, Let's Create an owner</h1>

<form method ="post" action ="/signup" >
	Owner Name :<input type ="text" placeholder= "username" name ="username" required>
	A Valid Email : <input type="text" placeholder= "123@email.com" name="email" required>
	Password : <input type="text"  placeholder= "password" name="password" required>
	<input type="submit" name="Sign Up">
</form>

<h3>Already registered? <a href = "/login">Log In</a> instead...</h3>