<h2 style ="color: purple;">List of all the tenants associated with <%= @owner.username.capitalize %></h2>
<h5>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h5>

	<% i = 1 %>
<%  @owner.properties.map do |property| %>

<% property.tenants.sort.each do |tenant| %>

 <h3 style ="color:green;"><%= i %>. <h4 style = "color: darkblue;"><%= tenant.name.upcase %></h4> <%= tenant.occupation.capitalize %> </h3>
		<% i += 1 %> 

	<% end%>
	<% end %>
	

	
	
	<h5>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h5>


	<form method = "post" action ="/properties" >
	 
	Navigate back to <input type="submit" value="Properties"> 
</form>

	<form method = "post" action ="/logout" >
	 
	Click on <input type="submit" value="Sign Out"> to close your session
</form>
