<div style=" float: right; width: auto; display: inline-flex;">
	<form style = "padding-right: 10px;" method = "post" action ="/properties" >
		<input class = "btn btn-secondary" type="submit" value="Back to Properties"> 
	</form>
	<form method = "post" action ="/logout" >
		<input class = "btn btn-secondary" type="submit" value="Sign Out">
	</form>
</div>


<h4 style ="color: purple;">List of all the tenants associated with <%= @owner.username.capitalize %></h4>

	<% i = 1 %>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Type/Occupation</th>
			</tr>
		</thead>
		<tbody>
		<%  @owner.properties.map do |property| %>
				<% property.tenants.sort.each do |tenant| %>
					<tr>
						<th scope="row"><%= i %></th>
						<td><%= tenant.name.upcase %></td>
						<td><%= tenant.occupation.capitalize %></td>
					</tr>
					<% i += 1 %> 
				<% end%>
		<% end %>
		</tbody>
	</table>