
    <h1>Welcome to Property Management Application</h1>
   
<div style = "float: left; display: inline-flex;">
    <form action="/signup" method="get">     
				<input name="_method" type="hidden" value="create" />  
				<input class = "btn btn-primary" style = "width: auto;" type="submit" value="Sign Up"> 
     </form>
    
    <form action="/login" method="get">     
				<input name="_method" type="hidden" value="create" />  
				<input class = "btn btn-primary" style = "width: auto;" type="submit" value="Log In"> 
     </form>
</div>
            <br></br>
    