
    <h1>Welcome to Property Management Application</h1>
   

    
   <h3>Click on <a href="/signup">Sign Up</a> to create a new account</h3>
    <br><br>
    <h3>Click on <a href="/login">Log In</a> to manage your acoount.</h3>
  
