
    <h1>Welcome to Property Management Application</h1>
   

    
   <h3>Click on <a href="/signup">Sign Up</a> to create a new account</h3>
    <br><br>
    <h3>Click on <a href="/login">Log In</a> to manage your account.</h3><br>
    <p>For test purposes enter Email: guest@guest.com , Password: password </p>
